@charset "UTF-8";
/* -------------------------------------------------- */
/* 共通 */
/*--------------------------------------------------- */
p {
  font-size: 20px;
  font-size: 2rem;
  font-family: a-otf-ryumin-pr6n, serif; }

/* -------------------------------------------------- */
/* mainImg */
/*--------------------------------------------------- */
#mainImg {
  position: relative;
  height: 600px; }
  #mainImg:before {
    content: "";
    height: 600px;
    width: 100%;
    background-color: #F5F5F5;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -4; }
  #mainImg .miSrc {
    position: absolute;
    width: calc(100% - 300px);
    top: 0;
    right: 0;
    height: 100%; }
    #mainImg .miSrc img {
      position: absolute;
      right: 0;
      width: 100%;
      z-index: -3;
      height: 600px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: 0 0;
      object-position: 0 0; }
  #mainImg .maxWid {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #mainImg h2 {
    font-size: 80px;
    font-size: 8rem;
    color: #AF871B;
    line-height: 1em;
    font-family: adobe-caslon-pro, serif;
    font-display: swap; }
    #mainImg h2:before {
      display: none; }
  #mainImg p {
    font-size: 30px;
    font-size: 3rem;
    font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300; }

/* -------------------------------------------------- */
/* about */
/*--------------------------------------------------- */
#about {
  margin-top: 200px; }
  #about h2 {
    font-size: 36px;
    font-size: 3.6rem;
    font-family: "Times New Roman", serif;
    font-weight: 400;
    position: relative;
    margin-bottom: 32px; }
    #about h2:before {
      content: "";
      border-top: 1px solid #707070;
      width: 50px;
      display: inline-block;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -60px;
      margin: auto;
      height: 1px; }

/* -------------------------------------------------- */
/* mainSection */
/*--------------------------------------------------- */
.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .mainSection .msLeft {
    width: calc(100% - 300px); }
  .mainSection .msRight {
    width: calc(250px); }

/* -------------------------------------------------- */
/* items */
/*--------------------------------------------------- */
#items h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  position: relative;
  margin-bottom: 32px; }
  #items h2:before {
    content: "";
    border-top: 1px solid #707070;
    width: 50px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    margin: auto;
    height: 1px; }

#items .itemSort {
  margin-bottom: 32px; }
  #items .itemSort .flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #items .itemSort .flex2:nth-of-type(1) {
      font-size: 22px;
      font-size: 2.2rem;
      margin-right: 40px; }
    #items .itemSort .flex2:nth-of-type(2) {
      font-size: 16px;
      font-size: 1.6rem;
      position: relative; }
      #items .itemSort .flex2:nth-of-type(2):after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        right: 16px;
        position: relative;
        border-width: 8px 4px 0 4px;
        border-color: #333 transparent transparent transparent; }
    #items .itemSort .flex2 select {
      min-height: 30px;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
      padding-right: 24px; }

#items .itemFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #items .itemFlex .itemFlex2 {
    width: calc(33.33% - 32px);
    margin-bottom: 48px; }
  #items .itemFlex .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #items .itemFlex .itm {
    width: 100%; }
    #items .itemFlex .itm h3 {
      font-weight: 400;
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 16px;
      font-size: 1.6rem; }
    #items .itemFlex .itm p {
      font-weight: 700;
      font-size: 16px;
      font-size: 1.6rem; }

/* -------------------------------------------------- */
/* aside */
/*--------------------------------------------------- */
aside h3 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px solid #707070;
  padding-bottom: 8px;
  margin-bottom: 16px; }

aside input[name="s"] {
  border: 1px solid #aaa;
  width: 250px;
  height: 40px;
  padding-left: 8px; }

aside #searchform {
  position: relative;
  width: 250px;
  height: 40px; }
  aside #searchform #searchsubmit {
    font-size: 20px;
    font-size: 2rem;
    color: #707070;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 10px; }

aside .aside {
  margin-bottom: 48px; }

aside li {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2em; }

/* -------------------------------------------------- */
/* news */
/*--------------------------------------------------- */
#news h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Times New Roman", serif;
  font-weight: 400;
  position: relative;
  margin-bottom: 32px; }
  #news h2:before {
    content: "";
    border-top: 1px solid #707070;
    width: 50px;
    display: inline-block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -60px;
    margin: auto;
    height: 1px; }

#news .flex2 {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #aaa; }

#news ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

#news li {
  font-size: 16px;
  font-size: 1.6rem; }
  #news li:nth-of-type(1) {
    width: calc(18% - 20px); }
  #news li:nth-of-type(2) {
    width: calc(82%); }

/* -------------------------------------------------- */
/* レスポンシブ */
/*--------------------------------------------------- */
@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* 共通 */
  /*--------------------------------------------------- */
  p {
    font-size: 18px;
    font-size: 1.8rem; } }
  @media (max-width: 1000px) and (max-width: 768px) {
    p {
      font-size: 16px;
      font-size: 1.6rem; } }

@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* mainImg */
  /*--------------------------------------------------- */
  #mainImg .miSrc {
    width: calc(100% - 200px); }
  #mainImg .miTitle img {
    width: 80%; }
  #mainImg p {
    font-size: 28px;
    font-size: 2.8rem; } }

@media (max-width: 1000px) and (max-width: 768px) {
  #mainImg {
    height: 500px; }
    #mainImg:before {
      height: 500px; }
    #mainImg .miSrc {
      width: calc(100% - 150px); }
      #mainImg .miSrc img {
        height: 500px;
        -o-object-position: 50% 0;
        object-position: 50% 0; }
    #mainImg .miTitle img {
      width: 70%; }
    #mainImg p {
      font-size: 26px;
      font-size: 2.6rem; } }

@media (max-width: 1000px) and (max-width: 480px) {
  #mainImg {
    height: 300px; }
    #mainImg:before {
      height: 300px;
      top: 50px; }
    #mainImg .miSrc {
      width: calc(100% - 50px); }
      #mainImg .miSrc img {
        height: 300px;
        -o-object-position: 50% 0;
        object-position: 50% 0; }
    #mainImg .maxWid {
      padding: 20px 0 0 10px; }
    #mainImg .miTitle img {
      width: 50%; }
    #mainImg p {
      font-size: 18px;
      font-size: 1.8rem; } }

@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* about */
  /*--------------------------------------------------- */
  #about h2 {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 32px; }
    #about h2:before {
      content: "";
      width: 50px;
      left: -60px; }
  /* -------------------------------------------------- */
  /* mainSection */
  /*--------------------------------------------------- */
  .mainSection .msLeft {
    width: calc(100% - 250px); }
  .mainSection .msRight {
    width: calc(200px); } }

@media (max-width: 1000px) and (max-width: 768px) {
  .mainSection {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .mainSection .msLeft {
      width: calc(100%); }
    .mainSection .msRight {
      width: calc(100%); } }

@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* items */
  /*--------------------------------------------------- */
  #items h2 {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 32px; }
    #items h2:before {
      content: "";
      width: 50px;
      left: -60px; } }

@media (max-width: 1000px) and (max-width: 768px) {
  #items .itemSort {
    margin-bottom: 32px; }
    #items .itemSort .flex2 {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #items .itemSort .flex2:nth-of-type(1) {
        font-size: 22px;
        font-size: 2.2rem;
        margin-right: 40px; }
      #items .itemSort .flex2:nth-of-type(2) {
        font-size: 16px;
        font-size: 1.6rem; }
      #items .itemSort .flex2 select {
        padding-right: 24px; }
  #items .itemFlex .itemFlex2 {
    width: calc(33.33% - 20px);
    margin-bottom: 24px; } }
  @media (max-width: 1000px) and (max-width: 768px) and (max-width: 480px) {
    #items .itemFlex .itemFlex2 {
      width: calc(50% - 8px); } }

@media (max-width: 1000px) and (max-width: 768px) {
  #items .itemFlex .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #items .itemFlex .itm h3 {
    font-size: 16px;
    font-size: 1.6rem; }
  #items .itemFlex .itm p {
    font-size: 16px;
    font-size: 1.6rem; } }

@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* news */
  /*--------------------------------------------------- */
  #news h2 {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 32px; }
    #news h2:before {
      content: "";
      width: 50px;
      left: -60px; } }

@media (max-width: 1000px) and (max-width: 768px) {
  #news {
    margin-top: 100px; }
    #news .flex2 {
      width: 100%;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: 1px solid #aaa; }
    #news ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    #news li {
      font-size: 16px;
      font-size: 1.6rem; }
      #news li:nth-of-type(1) {
        width: calc(100%); }
      #news li:nth-of-type(2) {
        width: calc(100%); } }

@media (max-width: 1000px) {
  /* -------------------------------------------------- */
  /* aside */
  /*--------------------------------------------------- */ }

@media (max-width: 1000px) and (max-width: 768px) {
  aside {
    margin-top: 100px; }
    aside h3 {
      font-size: 18px;
      font-size: 1.8rem; }
    aside input[name="s"] {
      width: 100%;
      max-width: 250px; }
    aside #searchform {
      width: 250px;
      height: 40px; }
      aside #searchform #searchsubmit {
        font-size: 20px;
        font-size: 2rem; }
    aside .aside {
      margin-bottom: 48px; }
    aside li {
      font-size: 16px;
      font-size: 1.6rem;
      line-height: 2em; } }
