@charset "UTF-8";
.mainSection {
  margin-top: 50px; }

/* -------------------------------------------------- */
/* single */
/*--------------------------------------------------- */
#page {
  /* -------------------------------------------------- */
  /* コンタクトフォーム */
  /*--------------------------------------------------- */
  /* -------------------------------------------------- */
  /* レスポンシブ */
  /*--------------------------------------------------- */ }
  #page .pageFlex {
    border: 1px solid #aaa;
    padding: 24px; }
  #page .catch {
    margin-bottom: 24px;
    position: relative; }
    #page .catch h1 {
      font-size: 28px;
      font-size: 2.8rem;
      font-weight: 700;
      font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
      line-height: 1.2em;
      border-bottom: 1px solid #AF881C;
      display: inline-block;
      padding-bottom: 16px; }
      #page .catch h1:after {
        content: '';
        border-bottom: 1px solid #ddd;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        z-index: -2; }
  #page .contents {
    font-size: 18px;
    font-size: 1.8rem; }
    #page .contents p {
      font-size: 18px;
      font-size: 1.8rem; }
  #page .wpcf7-form input[type="text"], #page .wpcf7-form input[type="email"], #page .wpcf7-form textarea {
    border: 1px solid #ddd;
    padding: 8px 0 8px 16px;
    margin: 8px 0 24px;
    color: #888;
    width: 100%; }
  #page .wpcf7-form [type="submit"] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #AF881C;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    transition: all 0.5s ease;
    height: 50px;
    max-width: 200px;
    margin: auto;
    font-size: 20px;
    font-size: 2rem; }
    #page .wpcf7-form [type="submit"]:hover {
      background: #fff;
      color: #AF881C;
      border: 1px solid #AF881C; }
  @media (max-width: 480px) {
    #page .pageFlex {
      padding: 16px; }
    #page .catch h1 {
      font-size: 24px;
      font-size: 2.4rem;
      line-height: 1.2em; }
    #page .contents {
      font-size: 16px;
      font-size: 1.6rem; } }
