@charset "UTF-8";
.mainSection {
  margin-top: 50px;
}

/* -------------------------------------------------- */
/* newsPage */
/*--------------------------------------------------- */
#newsPage {
  /* -------------------------------------------------- */
  /* レスポンシブ */
  /*--------------------------------------------------- */
}
#newsPage .newsPageFlex {
  border: 1px solid #aaa;
  padding: 24px;
}
#newsPage .catch {
  margin-bottom: 8px;
}
#newsPage .catch h1 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  line-height: 1.2em;
}
#newsPage .time {
  text-align: right;
  margin-bottom: 16px;
  font-size: 12px;
  font-size: 1.2rem;
}
#newsPage .contents {
  font-size: 18px;
  font-size: 1.8rem;
}
#newsPage .related {
  margin: 48px 0;
}
#newsPage .related h3 {
  position: relative;
  padding-left: 1em;
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 16px;
}
#newsPage .related h3:before {
  content: "";
  border-left: 3px solid #957B0E;
  height: 100%;
  width: 3px;
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 0;
  top: 0;
}
#newsPage .related ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#newsPage .related li {
  width: calc(33.3333% - 10px);
  border: 1px solid #aaa;
}
#newsPage .related li img {
  height: 170px;
  -o-object-fit: cover;
  object-fit: cover;
}
#newsPage .related .related-title {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  height: calc(100% - 170px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#newsPage .related .related-title div {
  width: 100%;
}
#newsPage .related .related-title h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3em;
}
#newsPage .related .related-title .days {
  text-align: right;
  margin-top: 8px;
}
@media (max-width: 480px) {
  #newsPage .newsPageFlex {
    padding: 16px;
  }
  #newsPage .catch h1 {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.2em;
  }
  #newsPage .time {
    text-align: right;
    margin-bottom: 16px;
    font-size: 12px;
    font-size: 1.2rem;
  }
  #newsPage .contents {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #newsPage .related {
    margin: 48px 0 60px;
  }
  #newsPage .related ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #newsPage .related li {
    width: calc(100%);
    margin-bottom: 24px;
  }
  #newsPage .related li img {
    height: 100px;
  }
  #newsPage .related .related-title {
    height: calc(100% - 100px);
  }
  #newsPage .related .related-title div {
    width: 100%;
  }
}
